@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

#root {
  display: flex;
  justify-content: center;
  max-height: 100vh;
  max-width: 100vw;
}

.App {
  min-width: 1000px;
  min-height: 100%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  background: linear-gradient(
    to right,
    #e7e5e4 0%,
    #e7e5e4 30%,
    #f4f4f5 0%,
    #f4f4f5 100%
    );
}

/* Header */
.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  z-index: 5;
  margin-top: 2rem;
}

.name-div, .profession-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.name-div {
  display: flex;
  gap: 1rem;
  height: 5rem;
  font-size: 4rem;
  font-weight: 500;
  padding: 1rem 1rem;

  background-color: rgba(255, 237, 42, 0.8);
}

.profession-div {
  display: flex;
  gap: 1rem;
  height: 3.5rem;
  font-size: 1.5rem;
  font-weight: 300;

  background-color: rgba(39, 39, 42, 0.9);
  color: white;
  letter-spacing: 0.1rem;
}

.name, .profession {
  display: flex;
}

/* Sidebar */
.sidebar-div {
  display: flex;
  flex-direction: column;
  width: 21.8%;
  height: 76.1%;
  padding: 1rem 2.5rem;
  gap: 4rem;
  border: 1px solid red;
}

/* Contact Info */
.contact-info-div {
  padding-top: 2rem;
}

.contact-info {
  display: flex;
  height: 2.5rem;
  gap: 1rem;

  border-bottom: 1px solid black;
}

.location-div {
  border-top: 1px solid black;
}

.contact-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 2.5rem;
  height: 100%;
  
  background-color: rgb(246, 230, 56);
}

.linkedIn-svg {
  width: 1rem;
}

.contact-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.7rem;
  gap: 0.3rem;
  flex: 1;
}

/* Education and Skills */
.education-div, .skills-div {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: left;
}

.education-title, .skills-title {
  font-size: 1.3rem;
  font-weight: 900;
  letter-spacing: 0.22rem;
  padding: 1rem 0rem;
  border-bottom: 1px solid black;
}

/* Education */
.credential-div {
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.credential-name {
  font-size: 1rem;
  font-weight: 600;
}

.university-name, .university-years {
  font-family: 'Merriweather', serif;
}

.university-name {
  font-size: 0.66rem;
  font-weight: 200;
  font-style: italic;
}

.university-years {
  font-size: 0.8rem;
  font-weight: 200;
  color:rgb(112, 112, 112)
}

/* Skills */
.skills-content {
  font-family: 'Merriweather', serif;

}

.skills-content > ul {
  all: unset;
  list-style-position: inside;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.skills-content > ul > li {
  font-size: 1.2rem;
}

.skills-content > ul > li > span {
  font-size: 0.8rem;
  font-weight: 100;
  position: relative;
  right: 0.5rem;
}

/* Edit icon */
.fa-pen-to-square {
  color: transparent;
  height: 2rem;
}

.edit-icon-div {
  display: flex;
  cursor: pointer;
}

.contact-edit-icon {
  height: 1rem;
}

/* Hover icon effect  */
.name-div:hover .name-edit-icon {
  color: rgb(210, 205, 173); 
 }

.profession-div:hover .profession-edit-icon {
  color: rgb(112, 112, 112);
}

.location-text:hover .location-edit-icon,
.phone-text:hover .phone-edit-icon,
.email-text:hover .email-edit-icon,
.linkedIn-text:hover .linkedIn-edit-icon {
  color: rgb(112, 112, 112);
}

.hidden {
  color: transparent;
 }

 /* Input */
 .edit-name, 
 .edit-profession, 
 .edit-location, 
 .edit-phone,
 .edit-email,
 .edit-linkedIn {
  all: unset;
}

.contact-edit {
  text-align: left;
  width: 100%;
}